@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Oswald:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
}

header {
  font-family: "Oswald";
  height: 100vh;
  width: 100vw;
  background-color: black;
}

li {
list-style: none;
}

a{
  color: rgb(37, 222, 151);
text-decoration: none;
}

body {
  background-color: rgb(234, 228, 228);
}
.container{
 max-width: 1024px;
 width: 90%;
 margin: 0 auto;
}

.navbar {
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  font-size:xx-large;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.menu-link {
  transition: 0.4 ease-out;
}

.menu-link:hover{
color: azure;
}
.hambuger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.4s ease;
  background-color: azure;
}