@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Oswald:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
}

header {
  font-family: "Oswald";
  background-color: black;
}

li {
list-style: none;
}

a {
  color: rgb(37, 222, 151);
text-decoration: none;
}

.container{
 max-width: 1224px;
 width: 90%;
 margin: 0 auto;
}

.navbar {
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  font-size:xx-large;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.menu-link {
  transition: 0.3 ease-out;
}

.menu-link:hover{
color: azure;
}

.hambuger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: azure;
}

@media(max-width:1265px){
  .hambuger{
    display:block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu {
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 25%;
    text-align: center;
    transition: 0.3s;
  }
 .menu-item{
    margin: 12px 0;
  }
 .menu.active{
    right: 0;
  }
}